.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.pytest_cache/
*.egg-info/
dist/
build/

# Project files
/Assets/
settings-prod.yaml
settings.yaml
temp_data.yaml
.env*

# Logs
photobooth-upload.log

# IDE / run configurations
.idea/
.vscode/
.run/

# Output files
user_data/
tests/simulated_output/