.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.pytest_cache/

# Project files
assets/
settings-prod.yaml
settings.yaml
temp_data.yaml
.env*

# Logs
photobooth-upload.log
settings-prod.yaml

# Output files
user_data/
temp_data.yaml