.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.pytest_cache/

# Config files
settings-prod.yaml
settings.yaml
temp_data.yaml
.env*

# Logs
photobooth-upload.log
settings-prod.yaml

# Output files
out
temp_data.yaml